#show-task-to-do {
  display: none;
}

#show-task-completed {
  display: none;
}

.to-do {
  cursor: pointer;
  color: #0088cc;
  font-size: 18px;
  font-weight: bold;
}

.to-do:hover {
  text-decoration: underline;
}
